* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
}
header {
  text-align: center;
  padding: 20px;
  background: #141414;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

header h1
{
  font-size: 28px;
  color: #e50914;
  text-transform: uppercase;
  letter-spacing: 2px;
}
main {
  padding: 15px;
}
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie {
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.movie:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.movie img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-bottom: 1px solid #333;
}

.movie h3 {
  /* font-size: 16px;
  margin: 10px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;      
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: 2.4em */
    font-size: 16px;
  margin: 10px;
  text-align: center;
}

.movie p {
  font-size: 13px;
  margin: 0 10px 10px;
  text-align: center;
  color: #aaa;
}

.movie button
{
  border: none;
  border-radius: 4px;
  padding: 6px;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
  margin-top: auto;
 
}
.movie button:hover
{
    background-color: #90060d;
}

/* .movie:hover { transform: scale(1.05); }
.movie img { width: 100%; height: 200px; object-fit: cover; }
.movie h3 { margin: 8px 5px 5px 5px; font-size: 14px; font-weight: 600; line-height: 1.2; }
.movie p { font-size: 12px; color: #aaa; margin: 0 5px 5px 5px; } */
/* @media (max-width: 768px) {
  .movies-grid { grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); gap: 10px; }
  .movie { height: 260px; }
  .movie img { height: 160px; }
}
@media (max-width: 480px) {
  .movies-grid { grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); gap: 8px; }
  .movie { height: 240px; }
  .movie img { height: 140px; }
  .movie h3 { font-size: 12px; }
  .movie p { font-size: 10px; }
} */

#profileBtn {
  display: flex;
  align-items: center;   
  gap: 8px;              
  background: transparent;  
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;           
  padding: 6px 10px;
}

#profilePicture img {
  width: 35px;
  margin-bottom: 13px;
  margin-right: 15px;
}

#profileName {
  white-space: nowrap;      
}

#arrowProfile {
  width: 16px;
  height: 16px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.profile-menu {
  position: relative;
}

.profile-menu button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

span img
{
  position: absolute;
  width: 15px;
  right: 65px;
  top: -3px;
}
.profile-menu {
  position: relative;
}

.profile-menu button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #222;
  min-width: 150px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  z-index: 100;
  font-size: 17px;
  font-weight: normal;  
  margin-top: 5px;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #444;
}
/* FOOTER */

.footer {
  position: fixed;
  bottom: -70%;
  left: 0;
  width: 100%;
  height: 25%;
  background: #111;
  color: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 20px rgba(0,0,0,0.6);
  transition: bottom 0.3s ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer.open {
  bottom: 0;
}

.footer-content {
  padding: 20px;
  overflow-y: hidden;
  width: 100%;
  text-align: center;
}
.footer-content h2 {
  margin-bottom: 10px;
}
.footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 22px;
}


.footer-content a {
  display: flex;
  align-items: center;   /* ikona i tekst w jednej linii */
  justify-content: center;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
  gap: 10px;             /* odstęp między ikoną a tekstem */
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.footer-content a:hover {
  background: rgba(255,255,255,0.1);
}

.footer-content a img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
p a
{
 color: #e50914; 
}

/* Przycisk do otwierania footera */
.footer-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #111;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.3s ease-in-out;
}

/* Animacja obracania strzałki */
.footer-toggle.open {
  transform: rotate(180deg);
}
#footerToggle img
{
  width: 25px;
}
@media (max-width: 480px) {
  header h1 {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .movies-grid {
     grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 12px;
    padding: 10px;
  }

  .movie img {
   height: 200px;
  }

  .movie h3 {
   font-size: 14px;
  }



  /* Modal na telefonach */
  .modal-content {
    width: 95%;
    padding: 15px;
  }

  #modalTrailer iframe {
    height: 200px;
  }
  .footer
  {
    height: 30%;
  }

}

/* Telefony średnie (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {

  .movies-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 12px;
  }

  .movie img {
    height: 180px;
  }

  .movie h3 {
    font-size: 14px;
  }

  .movie p {
    font-size: 12px;
  }

  .modal-content {
    width: 90%;
  }

  #modalTrailer iframe {
    height: 260px;
  }
}

/* Tablety i małe laptopy (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .movies-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
  }

  .movie img {
    height: 220px;
  }

  .modal-content {
    width: 80%;
  }

  #modalTrailer iframe {
    height: 320px;
  }
}
.modal {
  display: none; /* ukryty domyślnie */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.85);
}

.modal-content {
  background-color: #121212;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  color: #fff;
}
.modal h2
{
  color: #e50914;
}
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #fff;
}

#modalTrailer iframe {
  width: 100%;
  height: 350px;
  border: none;
}
b
{
  color: #e50914;
}